* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.side-nav {
    width: 140px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(45deg, #525252,#979797);
    top: 0;
    left: 0;
    padding: 0px 8px;
    z-index: 1;
    border-right: .1rem solid #82e736;
}

.logo {
    display: flex;
    margin-bottom: 196px;
}
.logo-img {
    width: 120px;
    height: 115px;
}

.nav-links {
    list-style: none;
    position: relative;
}
.nav-links li {
    padding: 10px 0;
}
.nav-links li a {
    color: #fff;
    padding: auto;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}
.active {
    background: rgb(108, 108, 108);
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}
.nav-links li:hover a {
    color: #82e736;
    transition: 0.3s;
}
.nav-links li:hover ~ .active {
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active {
    top: 4%;
}
.nav-links li:nth-child(2):hover ~ .active {
    top: 37%;
}
.nav-links li:nth-child(3):hover ~ .active {
    top: 71%;
}

.nav-settings {
    list-style: none;
    position: relative;
    padding: 10px 0;
    margin-top: 120%;
}
.nav-settings li a {
    color: #fff;
    padding: auto;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-settings li a i{
    font-size: 22px;
    margin-right: 20px;
} 

.about {
    margin-left: 20%;
}

:root {
    --side-nav-width: 140px;
}

@media only screen and (max-width: 600px) {
    .side-nav {
        width: 80px;
    }
    .logo-img {
        display: none;
    }
    .nav-links li a p {
        display: none;
    }
    .nav-links li a i {
        margin-right: 0;
    }
    .nav-links li a {
        justify-content: center;
    }
}











body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    width: 100%;
    padding: 0px 10px 0px 10%;
    background-color: #000000;
opacity: 1;
background-image: radial-gradient(#c7c7c7 0.65px, #121212 0.65px);
background-size: 13px 13px;
    border-bottom: .1rem solid #82e736;
    overflow: hidden;
}
header nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
header nav ul li a {
    color: #fff;
    font-weight: 400;
}
.header-left {
    margin-left: 10%;
}

.btn {
    color: #fff;
    margin-right: 20px;
    display: inline-block;
    padding: 14px 40px;
    background-image: linear-gradient(45deg, #82e736,#305e0a);
    font-size: 14px;
    border-radius: 3rem;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.btn:hover {
    background: #fff;
    color: #82e736;
}

.fa-solid {
    color: #fff;
    font-size: 24px;
    margin-right: 50px;
}









.main {
    width: 100%;
    background-image: url(Images/The-Witcher-3.jpeg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    flex: 1;
}

.content {
    margin-top: 7%;
    margin-left: 17%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 25px;
}
.content h1 {
    font-size: 70px;
    color: #fff
}
.content p {
    margin: 10px 0 30px;
    color: #fff;
    animation-delay: 0.5s;
}
.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}
.feature-img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 5%;
}
.feature-img.anim{
    animation-delay: 1.5s;
}
.anim {
    opacity: 0;
    transform: translateY(100px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.categories {
    margin: 70px 0;
}
.col {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col img {
    width: 100%;
}























.hero {
    width: 100%;
    min-height: 100vh;
    background: #3d3737;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;
}
.signup-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    background: #fff;
    border-radius: 30px;
}
.left-box {
    padding: 50px;
    border-radius: 25px 0 0 25px;
    background-color: #6b00d5;
    flex-basis: 50%;
    flex-grow: 1;
    color: #fff;
}
.right-box {
    padding: 50px;
    flex-basis: 50%;
    flex-grow: 1;
}

.input-box {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #fff;
   outline: none;
   color: #fff;
   font-size: 12px;
   background: transparent;
}
::placeholder {
    color: #fff;
}

input[type=checkbox] {
    margin-top: 30px;
}

.left-box label {
    font-size: 14px;
}
.left-box button {
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-box button:hover {
    font-weight: 500;
    background: #000;
    color: #fff;
}
.left-box button span {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: width 0.5s;
}
.left-box button:hover span {
    width: 30px;
}

.right-box a {
    display: block;
    width: 100%;
    margin: 20px 0;
    min-width: 250px;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    text-decoration: none;
}
.right-box a i {
    font-size: 18px;
    margin-right: 10px;
}
.facebook {
    background-color: #1778f2;
}
.twitter {
    background: #1da1f2;
}
.google {
    background: #ea4335;
}








.checkout-header {
    display: flex;
    margin-left: 36%;
    padding: 20px;
    font-weight: 500;
    opacity: 0.8;
}

.progress-checkout-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 20%;
}

.progress-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-check{
    background-color: #82e736;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    background-image: url(Images/greenCheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.progress-step-container:nth-of-type(3) .step-check::after{
    display: none;
}
.progress-step-container:nth-of-type(3) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid grey;
}

.progress-step-container:nth-of-type(2) .step-check::after{
    background-color: grey;
}

.progress-step-container:nth-of-type(2) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid #82e736
}

.step-check::after{
    content: "";
    width: 27vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
}

.step-title{
    color: grey;
}




.progress-step-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-check-2{
    background-color: #82e736;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    background-image: url(Images/greenCheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.progress-step-container-2:nth-of-type(3) .step-check-2::after{
    display: none;
}
.progress-step-container-2:nth-of-type(3) .step-check-2{
    background-image: none;
    background-color: white;
    border: 2px solid grey;
}

.progress-step-container-2:nth-of-type(2) .step-check-2::after{
    background-color: #82e736;
}

.progress-step-container-2:nth-of-type(2) .step-check-2{
    background-size: 100%;
    border: 2px solid #82e736;
}

.step-check-2::after{
    content: "";
    width: 27vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
}

.step-check-3{
    background-color: #82e736;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    background-image: url(Images/greenCheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.progress-step-container-3:nth-of-type(3) .step-check-3::after{
    display: none;
}
.progress-step-container-3:nth-of-type(3) .step-check-3{
    background-size: 100%;
    border: 2px solid #82e736;
}

























.form-container{
    width: 60%;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20%;
}

.form-title{
    font-size: 36px;
    margin-bottom: 2.5rem;
    font-weight: 500;
    opacity: 0.8;
}

.checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .input-line{
    width: 48%;
}

input[type="button"]{
    background-color: #82e736;
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: rgb(5, 134, 31);
}

























.content-wrapper {
    width: calc(100% - var(--side-nav-width));
    margin-left: calc(var(--side-nav-width) - 1px);
  }

.home {
    padding: 1rem 5% 5rem;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(Images/mw2-again.jpeg);
    background-size: cover;
    background-position: center;
}

.home .main-content h3{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.home .main-content span{
    font-size: 2rem;
    font-family:  'Syne Mono', monospace;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .main-content p{
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
    
}

.btn-main {
    color: #fff;

    display: inline-block;
    margin-top: 50px;
    padding: 0.9rem 9rem;
    background-image: linear-gradient(45deg, #82e736,#305e0a);
    font-size: 20px;
    border-radius: 5rem;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.btn-main:hover {
    background: #fff;
    color: #82e736;
}

.video-container {
    padding: 10px;
    margin-top: 300px;
    margin-left: 20px;
    flex: 1 1 10rem;
    position: relative;
    max-width: 900px;
}
.video-container video {
    width: 100%;
    border: .1rem solid #82e736;
}

.genres-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .2rem solid #82e736;
    color: #fff;
    background-color: #000000;
opacity: 1;
background-image: radial-gradient(#c7c7c7 0.65px, #121212 0.65px);
background-size: 13px 13px;
    padding: 1rem 1rem 0;
}


.genres {
    background-color: #000000;
opacity: 1;
background-image: radial-gradient(#c7c7c7 0.65px, #121212 0.65px);
background-size: 13px 13px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-right: 10px;
    padding-left: 10px;
}

.genres .icons {
    color: #fff;
    border: .1rem solid #82e736;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 15px;
}
.action-icon {
    background-image: url(Images/Crysis\ 2.jpeg) ;
    background-size: cover;
    background-position: 50%;

}
.action-icon h3 {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 15%;
}

.strategy-icon {
    background-image: url(Images/Strategy.webp);
    background-size: cover;
    background-position: 50%;
}
.strategy-icon h3 {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 15%;
}

.rpg-icon {
    background-image: url(Images/RPG.jpeg);
    background-size: cover;
    background-position: 50%;
}
.rpg-icon h3 {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 15%;
}

.racing-icon {
    background-image: url(Images/racing.jpeg);
    background-size: cover;
    background-position: 50%;
}
.racing-icon h3 {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 15%;
}







.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .2rem solid #6f6f6f;
    color: #fff;
    background-color: rgb(29, 29, 29);
    padding: 1rem 1rem 0;
    font-family: 'Mukta', sans-serif;
}



.game-title {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
}

.box-container {
    background: linear-gradient(45deg, #7a7a7a,#1f1f1f);
    color: #fff;
    width: 20%;
    margin: 30px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 1),
    0 10px 10px rgb(29, 29, 29);
}


.box-image {
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: .2rem solid rgb(0, 186, 0);
    border-radius: 10px;
}

h6 {
    font-size: 16px;
    text-align: center;
    color: #c8c8c8;
    margin-bottom: 10px;
}

.middle-box {
    margin: 0 10%;
}

.buy {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #66c51d;
    transition: .5s;
}
.buy:hover {
    color:#82e736;
    background-color: #fff;
}